.login-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
  margin: auto;
}

input {
  padding: 8px;
}

button {
  background: red;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
}
